**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: tasneem
Length of the input string is: 7

In [3]:
str = input("Enter a string: ")
print("Length of the input string is:", len(str))

Enter a string: tasneem ibrahim
Length of the input string is: 15

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [54]:
def stringends(str):
  if len(str) < 2:
    return ''

  return str[0:2] + str[-2:]

print(stringends('w3force'))
print(stringends('w3'))

w3ce
w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [1]:
name = input()
if len(name) < 3:
    print(name)
else:
    if name[-3:] =="ing":
        print(name +"ly")
    else:
        print(name+"ing")

tasneem
tasneeming

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [13]:
def findlongestword(wordslist):
    wordlen = []
    for n in wordslist:
        wordlen.append((len(n), n))
    wordlen.sort()
    return wordlen[-1][0], wordlen[-1][1]
result = find_longest_word(["Tasneem", "Ibrahim", "Abd El Fatah"])
print("Longest word: ",result[1])
print("Length of the longest word: ",result[0])

Longest word:  Abd El Fatah
Length of the longest word:  12

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [24]:
def newString(str1):
    str2 = ''

    for i in range(len(str1)):
        if(i % 2 == 0):
            str2 = str2 + str1[i]
    return str2

string = input("Please Enter your Own String : ")       
print("Original String :  ", string)
print("Final String : ", newString(string))

Please Enter your Own String : abca
Original String :   abca
Final String :  ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [28]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('tasneem and arij and afnan are frinds but afnan and tasneem are the tallest than arij'))

{'tasneem': 2, 'and': 3, 'arij': 2, 'afnan': 2, 'are': 2, 'frinds': 1, 'but': 1, 'the': 1, 'tallest': 1, 'than': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [31]:
user_input = input("What's your favourite language? ")
print("My favourite language is ", user_input.upper())
print("My favourite language is ", user_input.lower())

What's your favourite language? english
My favourite language is  ENGLISH
My favourite language is  english

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [33]:
def reverse_string(str1):
    if len(str1) % 4 == 0:
       return ''.join(reversed(str1))
    return str1

print(reverse_string('nemo'))
print(reverse_string('tasneem'))

omen
tasneem

**10- Write a Python program to remove a newline in Python

In [42]:
str1='tasneem ibrahim\n'
print(str1)
print(str1.rstrip())

tasneem ibrahim

tasneem ibrahim

**11-Write a Python program to check whether a string starts with specified characters

In [58]:
string = "whether.com"
print(string.startswith("whe"))

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [8]:
name = '''tasneem is amazing
arij is a doctor
afnan is the best
'''
print(name)

tasneem is amazing
arij is a doctor
afnan is the best

**13-Write a Python program to print the following numbers up to 2 decimal places

In [13]:
number = 2.648485
round(number, 2)

2.65

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

In [14]:
number =2.3
newnumber = str(number)
newnumber.replace("," , ",")

'2.3'

**16-Write a Python program to reverse a string using 2 ways

In [46]:
txt = "tasneem ibrahim"[::-1]
print(txt)

miharbi meensat

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [47]:
import collections
str1 = 'tasneem ibrahim abd el fatah shokry khalil'
d = collections.defaultdict(int)
for c in str1:
    d[c] += 1

for c in sorted(d, key=d.get, reverse=True):
  if d[c] > 1:
      print('%s %d' % (c, d[c]))

a 6
  6
h 4
e 3
i 3
l 3
t 2
s 2
m 2
b 2
r 2
k 2

**18-Write a Python program to find the first non-repeating character in a given string

In [48]:
def first_non_repeating_character(str1):
  char_order = []
  ctr = {}
  for c in str1:
    if c in ctr:
      ctr[c] += 1
    else:
      ctr[c] = 1 
      char_order.append(c)
  for c in char_order:
    if ctr[c] == 1:
      return c
  return None

print(first_non_repeating_character('abcdef'))
print(first_non_repeating_character('abcabcdef'))
print(first_non_repeating_character('aabbcc'))

a
d
None

**19-Write a Python program to remove spaces from a given string

In [49]:
def remove_spaces(str1):
  str1 = str1.replace(' ','')
  return str1
    
print(remove_spaces("t  a s  n e e m"))
print(remove_spaces("a b c"))

tasneem
abc

**20-Write a Python program to count the number of non-empty substrings of a given string

In [59]:
def number_of_substrings(str): 
    str_len = len(str); 
    return int(str_len * (str_len + 1) / 2); 
str1 = input("Input a string: ")
print("Number of substrings:") 
print(number_of_substrings(str1))

Input a string: tasneem
Number of substrings:
28

**21-write a Python program to swap first and last element of any list.

In [60]:
mylist = [1, 2, 3, 4, 5]

# Swap the first and last elements of the list
mylist[0], mylist[-1] = mylist[-1], mylist[0]

print("List after swapping first and last elements:", mylist)

List after swapping first and last elements: [5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [33]:
l = [2,5,8,11]
pos1 = int(input())
pos2 = int(input())
l[pos1] , l[pos2] = l[pos2] , l[pos1]
l

2
3

[2, 5, 11, 8]

[2, 5, 11, 8]

**23- search for the all ways to know the length of the list

In [24]:
l = [1,2,3,4,5,6,7,8,9]
print(len(l))
counter = 0
for i in l : counter +=1
print(counter)

9
9

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [25]:
max([2,3,4,5,6,7,8,9])

9

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [26]:
min([1,5,7,9,3,4,2])

1

**26-search for if an elem is existing in list

In [27]:
l = [1,2,3,4,5,6,7,8,9]
if l.count("tasneem") ==0:
    print("not found")

not found

**27- clear python list using different ways

In [28]:
l = [1,2,3,6,5,8,9]
l.clear()
l

[]

In [32]:
l = [1,5,9,3,4,8,6]
while len(l) !=0:
    l.pop()
l

[]

**28-remove duplicated elements from a list

In [38]:
l = [1,2,3,5,9,7,1,1,1]
l = set(l)
l = list(l)
l

[1, 2, 3, 5, 7, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
 keys = [name , age, salary]
values = ["tasneem", 23, 5000]
d = dict()
for i in keys:
    d[i] =

**30-write a python program to count unique values inside a list using different ways

In [4]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8,9] 
empty_list = [] 
count = 0
     
for ele in input_list:
    if(ele not in empty_list):
        count += 1
        empty_list.append(ele) 
        
print("Count of unique values are:", count)

Count of unique values are: 6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [ ]:
a = [4, 6, 4, 3, 3, 4, 3, 4, 8]
k = 2
out =  [i for i in set(a) if a.count(i) > k]
print(k):

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [1]:
def maximumAdjacent(arr1, n):
    arr2 = [] 
    
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
         
    for ele in arr2 :
        print(ele,end=" ")
 
if __name__ == "__main__" :
  n = 6 
  arr1 = [1,2,2,3,4,5]
   

  maximumAdjacent(arr1, n)

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [2]:
def comb(L):
      
    for i in range(3):
        for j in range(3):
            for k in range(3):
                  
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
                    
comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [4]:
import copy
 
def combinations(target, data):
 
    for i in range(len(data)):
 
        new_lis = copy.copy(target)
        new_data = copy.copy(data)
#         print(new_lis, new_data)
        new_lis.append(data[i])
        new_data = data[i+1:]
 
        print(new_lis)
 
        combinations(new_lis,
                     new_data)
 
 
target = []
data = [1, 2, 3]
 
combinations(target, data)

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [5]:
import itertools
from itertools import product
list_1 = ["b","c","d"]
list_2 = [1,4,9]
unique_combinations = []
unique_combinations = list(list(zip(list_1, element))
      for element in product(list_2, repeat = len(list_1)))
print(unique_combinations)

[[('b', 1), ('c', 1), ('d', 1)], [('b', 1), ('c', 1), ('d', 4)], [('b', 1), ('c', 1), ('d', 9)], [('b', 1), ('c', 4), ('d', 1)], [('b', 1), ('c', 4), ('d', 4)], [('b', 1), ('c', 4), ('d', 9)], [('b', 1), ('c', 9), ('d', 1)], [('b', 1), ('c', 9), ('d', 4)], [('b', 1), ('c', 9), ('d', 9)], [('b', 4), ('c', 1), ('d', 1)], [('b', 4), ('c', 1), ('d', 4)], [('b', 4), ('c', 1), ('d', 9)], [('b', 4), ('c', 4), ('d', 1)], [('b', 4), ('c', 4), ('d', 4)], [('b', 4), ('c', 4), ('d', 9)], [('b', 4), ('c', 9), ('d', 1)], [('b', 4), ('c', 9), ('d', 4)], [('b', 4), ('c', 9), ('d', 9)], [('b', 9), ('c', 1), ('d', 1)], [('b', 9), ('c', 1), ('d', 4)], [('b', 9), ('c', 1), ('d', 9)], [('b', 9), ('c', 4), ('d', 1)], [('b', 9), ('c', 4), ('d', 4)], [('b', 9), ('c', 4), ('d', 9)], [('b', 9), ('c', 9), ('d', 1)], [('b', 9), ('c', 9), ('d', 4)], [('b', 9), ('c', 9), ('d', 9)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [10]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
lst = [1,1,2,3,4,5,1,2,1]
x = 8,
print('{} has occurred {} times'.format(x,countX(lst, x)))

(8,) has occurred 0 times

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [11]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print("The original list 1 is : " + str(test_list1))
print("The original list 2 is : " + str(test_list2))
res = [test_list1[idx] for idx in test_list2]
print ("The lists after index elements replacements is : " + str(res))

The original list 1 is : ['Gfg', 'is', 'best']
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [14]:
test_list = [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
print("The original list is : " + str(test_list))
K = 4
N = 3
res = [ele for ele in test_list if sum(cnt == K for cnt in ele) == N]
print("Filtered tuples : " + str(res))

The original list is : [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
Filtered tuples : [(4, 5, 6, 4, 4), (4, 4, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [15]:
def sortarray(array):
	
	for i in range(len(array[0])):
		sortedcolumn = sorted(array, key = lambda x:x[i])
		print("Sorted array specific to column {}, \
		{}".format(i, sortedcolumn))

if __name__ == '__main__':
	
	array = [['java', 1995], ['c++', 1983],
			['python', 1989]]

	sortarray(array)

Sorted array specific to column 0, 		[['c++', 1983], ['java', 1995], ['python', 1989]]
Sorted array specific to column 1, 		[['c++', 1983], ['python', 1989], ['java', 1995]]

In [13]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

SyntaxError: invalid syntax (1197306156.py, line 1)

In [16]:
def sort_dict_by_key(d, reverse = False):
  return dict(sorted(d.items(), reverse = reverse))
students = { 'name1': 'Theodore', 'name2': 'Mathew', 'name4': 'Roxanne', 'name3': 'David' }
print("Original dictionary:")
print(students)
print("\nSort the said dictionary by key (Ascending order):")
print(sort_dict_by_key(students))
print("\nSort the said dictionary by key (Descending order):")
print(sort_dict_by_key(students, True))

Original dictionary:
{'name1': 'Theodore', 'name2': 'Mathew', 'name4': 'Roxanne', 'name3': 'David'}

Sort the said dictionary by key (Ascending order):
{'name1': 'Theodore', 'name2': 'Mathew', 'name3': 'David', 'name4': 'Roxanne'}

Sort the said dictionary by key (Descending order):
{'name4': 'Roxanne', 'name3': 'David', 'name2': 'Mathew', 'name1': 'Theodore'}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [17]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print("The original dictionary is : " + str(test_dict))
K = 6
res = {key : val for key, val in test_dict.items() if not (isinstance(val, int) and (val > K))}
print("The constructed dictionary : " + str(res))

The original dictionary is : {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
The constructed dictionary : {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [20]:
d = {'tasneem': 1, 'arij': 2, 'maha': 3} 
for name_key, value in d.items():
     print(name_key, 'corresponds to ', d[name_key])

tasneem corresponds to  1
arij corresponds to  2
maha corresponds to  3

**44- Write a Python script to merge two Python dictionaries

In [21]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [22]:
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [23]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dict1)
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [24]:
tuplex = 5, 10, 15, 20, 25
print(tuplex)
tuplex = 5,
print(tuplex)

(5, 10, 15, 20, 25)
(5,)

**48-Write a Python program to unpack a tuple into several variables

In [26]:
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
print(n1 + n2 + n3) 
n1, n2, n3, n4 = tuplex

(4, 8, 3)
15

ValueError: not enough values to unpack (expected 4, got 3)

**49-Write a Python program to add an item to a tuple

In [27]:
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
tuplex = tuplex + (9,)
print(tuplex)
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
listx = list(tuplex) 
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

**50-Write a Python program to convert a tuple to a string

In [29]:
tup = ('t', 'a', 's', 'n', 'e', 'e', 'm')
str =  ''.join(tup)
print(str)

tasneem

**51-Write a Python program to convert a list to a tuple

In [30]:
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

**52-Write a Python program to reverse a tuple

In [31]:
x = ("TASNEEM")
y = reversed(x)
print(tuple(y))
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

('M', 'E', 'E', 'N', 'S', 'A', 'T')
(20, 15, 10, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [32]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [34]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

Original string:
python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [35]:
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result

nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

nums = ((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
print ("\nOriginal Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))

Average value of the numbers of the said tuple of tuples:
 [30.5, 34.25, 27.0, 23.25]

Original Tuple:
((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))

Average value of the numbers of the said tuple of tuples:
 [25.5, -18.0, 3.75]

**56-Write a Python program to add member(s) to a set.

In [36]:
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

set()

Add single element:
{'Red'}

Add multiple items:
{'Blue', 'Red', 'Green'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [38]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [39]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [40]:
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [44]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
         
    res.reverse()
    return res
lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]